@import 'var';

md-input-container{
  display: block;
  width: auto;
}

md-slide-toggle{
  margin-right: 20px;
}

form{
  padding-top: 10px;
}

textarea{
  background-color: #f7f7f9;
  padding: 10px;
  line-height: 1.5;
}


.toggle-to-report{
  text-align: center;
  padding-top: 15px;
  color: #00f;

  a{
    text-decoration: underline;
  }
}

.message-list{
  margin-bottom: 10px;
  background-color: #f5f5f5;
  max-height: 200px;
  overflow: auto;

  .title{
    padding: 5px 0;
    text-align: center;
  }

  .message{
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    text-decoration: underline;
    cursor: pointer;
  }

}
