@import '../../../../styles/_var.scss';

md-input-container{
  display: block;
}

md-slide-toggle{
  margin-right: 20px;
}

form{
  padding-top: 10px;
}


textarea{
  background-color: #f7f7f9;
  padding: 10px;
  line-height: 1.5;
}


.mat-tab-link{
  min-width: $tab-width;
}

.toggle-to-report{
  text-align: center;
  padding-top: 15px;
  color: #00f;

  a{
    text-decoration: underline;
  }
}
