mat-dialog-content{
  width: 400px;
}

mat-form-field,mat-radio-group{
  display: block;
  width: auto;
}

.action button{
  margin-left: 10px;
}

.apns-del-btn.del{
  color: #fff;
  background-color: rgb(244,67,54);
}

.title-key{
  line-height: 1;
  vertical-align: -5px;
}
