md-dialog-content{
  width: 400px;
}

md-input-container,md-radio-group{
  display: block;
}

.action button{
  margin-left: 10px;
}

.apns-del-btn.del{
  color: #fff;
  background-color: rgb(244,67,54);
}
