@import 'var';

:host ::ng-deep .chart>div {
  position: absolute !important;
}

.action-btn-group {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: $padding;
  text-align: center;
}


:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 36px;
  padding: 0 16px;
}
