@import 'var';

:host /deep/ .chart > div{
  position: absolute !important;
}

.mat-tab-link{
  min-width: $tab-width;
}

.action-btn-group{
  position: absolute;
  left: 0;
  width: 100%;
  bottom: $padding;
  text-align: center;
}


