:host > [fxLayout] {
  height: 100%;
  background-color: rgba(63, 81, 181,1);
}

.login{
    padding: 40px;
    width: 400px;
    background-color: rgba(255, 255, 255,0.5);

    $padding-left: 40px;

    .username,.password{
      width: calc(100% - #{$padding-left});
      left: $padding-left;

      md-icon{
        margin-left: -$padding-left;
      }
    }

    .form-action{
      margin-left: $padding-left;
    }
  }
