<header>
  <div class="layout-center clearfix">
    <div class="pull-left">
      <a>微企消息推送平台</a>
    </div>
    <div class="pull-right">
      <button type="button" md-button [mdMenuTriggerFor]="appMenu">
        {{user.name}}
        <md-icon>person outline</md-icon>
      </button>

      <md-menu #appMenu="mdMenu">
        <button md-menu-item routerLink="/home/ns-list" *ngIf="user.role == 'admin'">命名空间列表</button>
        <button md-menu-item (click)="logout()">退出</button>
      </md-menu>
    </div>
  </div>
</header>
<main>
  <div class="layout-center">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <div class="layout-center">
    <hr>
    <div>
      上海微企信息技术股份有限公司
    </div>
  </div>
</footer>
