<header>
  <div class="layout-center clearfix">
    <div class="pull-left">
      <a>消息推送平台</a>
      <span *ngIf="$showNsName | async"> - {{user.nsName}}</span>
    </div>
    <div class="pull-right">
      <button type="button" mat-button [matMenuTriggerFor]="appMenu">
        {{user.name}}
        <mat-icon>person</mat-icon>
      </button>

      <mat-menu #appMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/home/ns-list" *ngIf="user.role == 'admin'">命名空间列表</button>
        <button mat-menu-item (click)="logout()">退出</button>
      </mat-menu>
    </div>
  </div>
</header>
<main>
  <div class="layout-center">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <div class="layout-center">
    <hr>
    <div>
      {{env.copyRight}}
    </div>
  </div>
</footer>