@import 'var';

.dashboard,.emitter,.msg-list{
  padding: $padding;
}

.dashboard{
  width: $dashboard-width;
  height: $dashboard-height;
}

.emitter{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - #{$dashboard-width} - #{$padding});
  height: $dashboard-height;
  padding: $padding;
  overflow: auto;
}

.msg-list{
  margin-top: $padding;
}
